[submodule "auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
